{% extends 'base.html' %} 

{% block content %} 
    <main>
        <h1>Create Category</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Create</button>
        </form>

    </main>

{% endblock content %}