{% extends 'base.html' %} 

{% block content %} 

<main>
    <!-- <a href="{% url 'create_category' %}">Create</a> -->
    <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            <tbody>
                {% for category in expensecategory_list  %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
</main>

{% endblock content %} 