{% extends 'base.html' %} 

{% block content %} 
<div>
    <!-- <a href="{% url 'create_category' %}">Create</a> -->
</div>
<main>
    <h1>Account</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            <tbody>
                {% for account in account_list  %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
</main>

{% endblock content %} 