{% extends 'base.html' %} 

{% block content %} 
    <main>
        <h1>Log out</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Log out</button>
        </form>
{% endblock content %}
    </main>
