{% extends 'base.html' %} 

{% block content %} 
    <main>
        <div>
            <h1>Log in</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Log In</button>
            </form>
        </div>
    </main>
{% endblock content %}
